.email {
    background-color: #F6F6F6;
    width: 50%;
    height: auto;
    margin: auto;
}

.email-header {
    width: 100%;
    height: 200px;
    background-color: #49cc90;
}

.email-body {
    width: 400px;
    height: auto;
    background-color: #fff;
    margin: auto;
    position: relative;
    bottom: 80px;
    border: 3px;
    border-style: dotted;
    border-color: #49cc90;
    padding: 25px;
    text-align: center;
}

.email-body-content {
    text-align: left;
}

.email-body-btn {
    padding: 15px;
    font-family: 'Nunito-SemiBold', 'Montserrat-SemiBold', sans-serif;
    background-color: #49cc90;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.email-body p a {
    cursor: pointer;
    color: midnightblue;
    font-weight: bold;
    text-decoration: none;
}

.email-body p:last-child {
    font-family: 'Nunito-SemiBold', 'Montserrat-SemiBold', sans-serif;
}