@font-face {
    font-family: 'Nunito-Light';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Nunito/Nunito-Light.ttf') format('woff2');
}

@font-face {
    font-family: 'Nunito-SemiBold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('woff2');
}

@font-face {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf') format('woff2');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf') format('woff2');
}

body {
    font-family: 'Montserrat-Light', 'Nunito-Light', sans-serif;
}