<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ecamp</title>

    <style>
        @import url('https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Bookman+Old+Style');

        body {
            font-family: 'Bookman Old Style', sans-serif;
        }

        .email {
            background-color: #F6F6F6;
        }

        .email-body {
            width: 400px;
            height: auto;
            background-color: #fff;
            margin: auto;
            border: 3px;
            border-style: dotted;
            border-color: #49cc90;
            padding: 25px;
            text-align: center;
        }

        .email-body-content {
            text-align: left;
        }

        .email-body-btn {
            padding: 15px;
            background-color: #49cc90;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }

        a.email-body-btn[href] {
            color: #fff;
        }

        .email-body-link {
            cursor: pointer;
            color: midnightblue;
            font-weight: bold;
            text-decoration: none;
        }
    </style>

</head>

<body>
    <div class="email">

        <div class="email-body">
            <h1>¡Hola {{ name }}!</h1>
            <p class="email-body-content">
                Has sido seleccionado/a como monitor/a del campamento <strong>{{ campName }}</strong>.<br><br>
                Por favor, accede a la siguiente página para crear una contraseña nueva y así poder acceder a tu cuenta
                privada de la web, dónde podrás gestionar el listado de participantes, añadir la programación del día y
                muchas cosas más.
            </p>
            <br>
            <a class="email-body-btn" target="_blank"
                href="https://ecamp-web.herokuapp.com/#/ecamp/web/password?email={{ to }}&language={{ language }}">
                CREAR CONTRASEÑA
            </a>
            <br><br>
            <p class="email-body-content">
                Si no funciona, copia y pega este link en tu navegador
            </p>
            <p class="email-body-content">
                <a class="email-body-link" target="_blank"
                    href="https://ecamp-web.herokuapp.com/#/ecamp/web/password?email={{ to }}&language={{ language }}">
                    https://ecamp-web.herokuapp.com/#/ecamp/web/password?email={{ to }}&language={{ language }}
                </a>
            </p>
            <p>E-Camp © 2019</p>
        </div>

    </div>
</body>

</html>